<app-header></app-header>
<perfect-scrollbar>
  <div class="app-truck container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="app-truck_setup-trip">
          <div class="app-truck_setup-trip-header">
            <span><i class="fas fa-truck-moving"></i></span>
            <span>SET-UP NEW TRIP</span>
          </div>
          <perfect-scrollbar>
            <form [formGroup]="tripForm" (ngSubmit)="startTrip(tripForm.value)" autocomplete="off">
              <div class="row">
                <mat-form-field appearance="outline" class="col-md-12">
                  <mat-label>Driver</mat-label>
                  <input matInput formControlName="driverName">
                  <span matSuffix>
                    <mat-icon class="mat-18">account_box</mat-icon>
                  </span>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="outline" class="col-md-6">
                  <mat-label>E-mail</mat-label>
                  <input matInput formControlName="email">
                  <span matSuffix>
                    <mat-icon class="mat-18">mail</mat-icon>
                  </span>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-6">
                  <mat-label>Occupation</mat-label>
                  <input matInput formControlName="occupation">
                  <span matSuffix>
                    <mat-icon class="mat-18">work</mat-icon>
                  </span>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field appearance="outline" class="col-md-6">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone">
                  <span matSuffix>
                    <mat-icon class="mat-18">phone</mat-icon>
                  </span>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-6">
                  <mat-label>Planned deliveries</mat-label>
                  <input matInput formControlName="plannedStops" type="number" class="planned-stops">
                  <span matSuffix>
                    <i class="fas fa-truck-loading"></i>
                  </span>
                  <mat-error>{{ getDeliveriesMessage() }}</mat-error>
                </mat-form-field>
              </div>
              <div class="start-trip">
                <button mat-raised-button color="accent" type="submit" value="trip" [disabled]="tripForm.invalid || tripMode">{{
                  getTripMessage() }}</button>
              </div>
            </form>
          </perfect-scrollbar>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 truck-wrapper">
            <div class="truck">
              <div class="cabin">
                <div class="front-window"></div>
                <div class="left-window"></div>
                <div class="right-window"></div>
                <div class="sky-window"></div>
              </div>
              <div class="charge">

                <div class="row">
                  <div class="col-md-6 beer-container" *ngFor="let beer of beers">

                    <app-container>
                      <p class="beer-type">{{ beer.type | uppercase }}</p>
                      <h1 class="beer-temp">{{ beer.idealTemp }}<sup>c</sup></h1>

                    </app-container>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>
