<header>
  <div class="app-header">
    <div class="app-header_wrapper">
      <div class="app-header_logo">
        <img src="../../../assets/images/pragmalogo.png" alt="Pragma Logo">
        <span>PragmaBrewery</span>
      </div>
      <div class="app-header_toolbox">
        <button class="app-header_user-button" matTooltip="User settings" mat-button [matMenuTriggerFor]="userSettings">
          <div class="wrapper">
            <div class="avatar-wrapper">
              <span>
                <i class="avatar material-icons">
                  account_circle
                </i>
              </span>
            </div>
            <span class="username" *ngIf="!driver$" >
                Loading driver...
              </span>
            <span class="username" *ngFor="let driver of driver$">
              {{ driver.name }} - {{ driver.occupation }}
            </span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
        </button>
        <mat-menu #userSettings="matMenu" [overlapTrigger]="false" xPosition="after">
          <button mat-menu-item [matMenuTriggerFor]="themes">
            <mat-icon>color_lens</mat-icon>
            <span>Themes</span>
          </button>
          <mat-menu #themes="matMenu">
            <button mat-menu-item (click)="changeTheme('light')">Light</button>
            <button mat-menu-item (click)="changeTheme('default')">Dark</button>
          </mat-menu>
          <button mat-menu-item (click)="authenticationService.logout()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
        <div class="toolbar-separator"></div>
        <button class="notification-center" matTooltip="Central de Notificações" mat-button (click)="toggleNotificationCenter(true)">
          <mat-icon matBadge="{{ notificationsCount }}" matBadgeColor="warn" [matBadgeHidden]="!notificationsCount">format_list_bulleted</mat-icon>
        </button>
        <app-notification-center [isActive]="notificationCenterOpened" (notification$)="onNotificationsCount($event)"
          (close)="onCloseNotificationCenter($event)"></app-notification-center>
      </div>
    </div>
  </div>
</header>
