@font-face {
  font-family: 'Exo Black';
  src: url(../assets/fonts/Exo-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo BlackItalic';
  src: url(../assets/fonts/Exo-BlackItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Exo Bold';
  src: url(../assets/fonts/Exo-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Exo BoldItalic';
  src: url(../assets/fonts/Exo-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo ExtraBoldItalic';
  src: url(../assets/fonts/Exo-ExtraBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo ExtraLight';
  src: url(../assets/fonts/Exo-ExtraLight.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo ExtraLightItalic';
  src: url(../assets/fonts/Exo-ExtraLightItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Exo Italic';
  src: url(../assets/fonts/Exo-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Exo Light';
  src: url(../assets/fonts/Exo-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Exo LightItalic';
  src: url(../assets/fonts/Exo-LightItalic.ttf);
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Exo Medium';
  src: url(../assets/fonts/Exo-Medium.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Exo MediumItalic';
  src: url(../assets/fonts/Exo-MediumItalic.ttf);
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Exo Regular';
  src: url(../assets/fonts/Exo-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo Semibold';
  src: url(../assets/fonts/Exo-Semibold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo SemiboldItalic';
  src: url(../assets/fonts/Exo-SemiboldItalic.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo Thin';
  src: url(../assets/fonts/Exo-Thin.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Exo ThinItalic';
  src: url(../assets/fonts/Exo-ThinItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
