* {
  font-family: 'Exo Regular', sans-serif;
  text-rendering: optimizeLegibility;

  &:active,
  :focus {
    outline: none !important;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

label {
  margin-bottom: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.default-theme .mat-menu-item,
.light-theme .mat-menu-item {
  font-family: 'Exo Regular', sans-serif;
}


perfect-scrollbar>.ps--scrolling-y>.ps__rail-y,
perfect-scrollbar>.ps--scrolling-x>.ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking,
div.ps.ps--active-y {
  background-color: transparent !important;
}

.ps {
  background-color: transparent !important;
}
